
$color-background: #FFFFFF;
$color-background-darker: #F8F8F8;
$color-background-cover: rgba(0, 0, 0, 0.3);
$color-link: #8EA7FF;
$color-text-dark: #333333;
$color-text-light: #ABABAB;
$color-btn-bg: linear-gradient(92.01deg, #8EA7FF 0%, #7291FF 100%);
$color-btn-text: #FFFFFF;
$pink: #FF6767;


$mobile-width: 380px;
$tablet-width: 834px;
$desktop-width: 1440px;


