.category-container {
  text-transform: uppercase;
  @include font($size: 1.2rem, $height: 1.6rem, $weight: 500, $spacing: 2px);
  padding: 6px 16px;
  background: $color-background;
  border-radius: 6px;
  border: 2px solid #F8F8F8;
  color: $color-text-light;
  margin-right: 10px;
  margin-top: 10px;

  &_on-card {
    @include font($size: 1rem, $height: 1.4rem, $weight: 500, $spacing: 2px);
    color: $color-text-dark;
    margin: 0;
    border: none;
    @include font($size: 1rem, $height: 1.4rem, $weight: 500, $spacing: 2px);
  }

  &_selected {
    background: $color-background-darker;
    color: $color-text-dark;
  }
}